body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  background-color: #F6F7FB;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  height: 100vh;
}

.trash {
  width:3%;
  margin-left:15px;
}

.avatar{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
  text-align: left;
}

.row {
  border-bottom: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  background-color: #FFFFFF;
  width : 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}


.total {
    justify-content: flex-start;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
#count{
  font-weight: bold;
}

h6 {
  font-size:14px;
  margin: 0px;

}

.row div{
  width: 75%;
}


#add{
  width: 25%;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(27, 184, 233);
  border-top: 2px solid rgb(27, 184, 233);
  border-right: 2px solid rgb(27, 184, 233);
  border-bottom: 2px solid rgb(27, 184, 233);
  border-left: 0px solid rgb(27, 184, 233);
  margin-left: -5px;
  background-color: rgb(27, 184, 233);
  color: rgb(255, 255, 255);
  font-weight: 600;
}


#message{
  width: 75%;
  height: 25px;
  border: 2px solid rgb(27, 184, 233);
  padding-left: 15px;

}
.addmessage{
  justify-content: center;
}
